<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<!--
Copyright (c) 2011 ActiveState Software Inc.
See the file LICENSE.txt for licensing information.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>CandidateBuzz</title>
  <%= stylesheet_link_tag 'jquery.jscrollpane' %>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.1.min.js"></script>
  <script type="text/javascript" src="http://www.google.com/jsapi"></script>
  <script type="text/javascript">
    google.load('visualization', '1', {packages: ['corechart']});
  </script>
  <%= javascript_include_tag 'jqcloud-0.1.8.js' %>
  <%= stylesheet_link_tag 'jqcloud' %>
  <%= javascript_include_tag 'jquery.mousewheel' %>
  <%= javascript_include_tag 'jquery.jscrollpane.min' %>
  <%= javascript_include_tag 'jquery.simplemodal.1.4.1.min' %>
  <%= javascript_include_tag 'strftime-min.js' %>
  <%= javascript_include_tag 'candidateBuzz' %>
  <%= javascript_include_tag 'buzzInfo' %>
  <%= stylesheet_link_tag 'candidateBuzz' %>
  <script type="text/javascript" >
    //<![CDATA[
    /*
     * Rails template variables:
     * @startDate: first start time
     * @endDate: last start time + 1 (or last end time)
     * @hasData: boolean
     */
    var buzzInfo = new BuzzInfo(); // Our main object
    buzzInfo.checkNewerLinksURL = "<%= url_for :controller => 'tweets', :action => 'hasNewerPosts'  %>";
    buzzInfo.checkOlderLinksURL = "<%= url_for :controller => 'tweets', :action => 'hasOlderPosts'  %>";
    buzzInfo.getTweetsURL = "<%= url_for :controller => 'tweets', :action => 'getTweets'  %>";
    buzzInfo.getWordCloudURL = "<%= url_for :controller => 'tweets', :action => 'getWordCloud'  %>";
    buzzInfo.getChartURL = "<%= url_for :controller => 'tweets', :action => 'getChartInfo'  %>";
    buzzInfo.gStartDate = '<%= @startDate %>'; //XXX: NOT USED
    buzzInfo.gEndDate = '<%= @endDate %>';
    buzzInfo.linkInfo = {
      hasPrevLinks: "<%= @linkInfo[:hasPrevLinks] %>",
      prevLinkStartDate: "<%= @linkInfo[:prevLinkStartDate] %>",
      prevLinkEndDate: "<%= @linkInfo[:prevLinkEndDate] %>",
      hasNextLinks: "<%= @linkInfo[:hasNextLinks] %>",
      nextLinkStartDate: "<%= @linkInfo[:nextLinkStartDate] %>",
      nextLinkEndDate: "<%= @linkInfo[:nextLinkEndDate] %>"
    };
    
    var onloadHandler = function() {
      buzzInfo.onLoad();
      buzzInfo.updateLinkInfo();
      <% if @hasData %>
        jQuery.getJSON(buzzInfo.getChartURL,
                      {startDateISO: buzzInfo.gStartDate,
                       endDateISO: buzzInfo.gEndDate},
                        function(results) { buzzInfo.processChart(results); });
      <% else %>
        //alert("@hasData is false...");
        // go update those next/prev links, and say there's no data here.
      <% end %>
      $("#buzz_help").click(function(e) {
        e.preventDefault();
        $("#help_content").modal();
      });
    };
    google.setOnLoadCallback(onloadHandler);
    // ]]>
  </script>
  <link href='http://fonts.googleapis.com/css?family=Paytone+One&subset=latin&v2' rel='stylesheet' type='text/css'>
</head>
<body>

<noscript>
This site will work much better if you enable JavaScript.
</noscript>
  <!-- Stackato corner-banner -->
  <div id="branding">
      <a href="http://www.activestate.com/cloud"><img  alt="Powered by Stackato"
                                                       target="_blank"
      src="http://templates.activestate.com/images/stackato-ribbon/bottom-left.png"></a>
  </div>

  <div id="buzz_content">
    <div id="buzz_title">
        <div class="container">
            <a id="buzz_tweet" class="buzz_button_link"
               href="http://twitter.com/share?url=http%3A%2F%2Fbuzz.stackato.com&text=Check%20out%20%23candidatebuzz!%20Powered%20by%20%23stackato" target="_blank"><img src="/images/twitter_newbird_white.png" height=35px alt="Twitter" /></a>
            <a id="buzz_help" class="buzz_button_link">?</a>
            <h1>Candidate Buzz</h1>
        </div>
    </div>
    
    <div id="buzz_chart">

      <%= yield %>

    <div id="visualization"></div>
      <div id="button_time_back" class="buzz_button_link" disabled="disabled"
      align=><a onclick="buzzInfo.getPrevChart(); return 0">&laquo; Older</a></div>
      <div id="button_time_forward" class="buzz_button_link" disabled="disabled"
      ><a onclick="buzzInfo.getNextChart(); return 0">Newer &raquo;</a></div>
    </div>
    <div id="buzz_candidate">

        <div id="buzz_candidate_img">
          
        </div>
            
        <div id="buzz_candidate_details">
          <span id="tweet_count"></span>about<br />
            <strong></strong>
            <br />
            <span id="time"></span>
        </div>
            
    </div>
    <div id="buzz_details">
      <div id="buzz_tweets">
        <div id="paginator_search" >
          Filter tweets <input id="buzz_tweet_search" >
        </div>
        <ul id="holder">
          
        </ul>
        <div id="buzz_tweet_paginator_box" >
          <div id="paginator_list" >
          </div>          
        </div>
      </div>
      <div id="word_cloud_wrapper" >
        <!--Word cloud will go here-->
        <div id="word_cloud" >
        </div>
      </div>
      <div id="twitter_attr">
          <p id="twitterHeader">Content from 
          <img src="/images/twitter_logo.png" alt="twitter" />
          </p>
      </div>
    </div>
    
  </div>
  <div id="help_content" class="basic-modal-content">
    <h3>CandidateBuzz Instructions</h3>
    <br />
    <p>
      CandidateBuzz shows you tweets about the current batch of Republican Presidential candidates and Barack Obama.
    <p>
      To change which candidate you're viewing, click on a bar in the chart to load tweets about a candidate in a specific hour, or click on their colored square in the legend to load all the tweets in the time period currently displayed in the chart.
    <p>
    <p>
      The word cloud is generated from the content in the tweets.  Some of the words in the cloud are linked to sites that were mentioned in the tweets.
    </p>
  </div>
</body>
</html>
